<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error has occured</h1>
        <p>@Model</p>
    </hgroup>
</body>
</html>
