<table class="table" id="result">
    <h1>Cards:</h1>
    @foreach (var item in Model)
    {
        <tr>
            <td>
            @item.Name
            <td />
            <td>
                @item.Score
            </td>
            <td>
                @item.GameNumber
            </td>
        </tr>
    }
</table>

