
@{
    ViewBag.Title = "Play";
}

<div id="result">
    <h2>HandOverCards</h2>
    <table class="table">
        <h1>Cards:</h1>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                    <td>
                        @foreach (var t in item.Cards)
                        {
                            @t.Value
                            <span>, </span>
                        }
                    </td>
                </td>
            </tr>
        }
    </table>



    <table class="table">
        <h1>Total scores:</h1>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name:
                    <td>
                        @item.Score
                    </td>
                </td>
            </tr>
        }
    </table>

   

</div>


